.mainWrapper {
    width: 100%;
    height: 100vh;
    min-width: 1200px;
    min-height: 900px;
    background-color: #737373;
}

.headText {
    font-size: 25px;
}

.contentWrapper {
    width: 80%;
    height: auto;
    padding: 15px;
    background-color: rgba(185, 185, 185, 0.59);
    display: inline-block;
    margin-top: 12.5vh;
}

.inputFields {
    display: none;

}

.countOfDots {
    border: none;
    text-decoration: none;
    background-color: rgba(248, 248, 248, 0.08);
    height: 25px;
    text-align: left;
    padding: 5px;
    border-bottom: 1px solid black;
    border-radius: 2px;
    width: 40%;
    margin-left: 10px;
    margin-top: 10px;
    outline: none;
}

.countOfDots::placeholder {
    color: black;
}

.enter {
    margin-top: 20px;
    background-color: rgba(115, 115, 115, 0.51);
    height: 50px;
    color: #222222;
    font-size: 30px;
    width: 350px;
    border-radius: 4px;
    border: 1px solid rgba(90, 90, 90, 0.51);
    outline: none;
}

.choice {
    margin: 10px;
    background-color: rgba(180, 180, 180, 0.4);
    height: 50px;
    color: #222222;
    font-size: 25px;
    width: 200px;
    border-radius: 4px;
    border: 1px solid rgba(90, 90, 90, 0.51);
    outline: none;
}

.choice:hover {
    background-color: rgba(128, 89, 88, 0.5) !important;
}

.enter:hover {
    background-color: rgba(115, 115, 115, 0.65);
}

.plot {
    display: block;
}

.plotDetails {
    position: relative;
    border: 1px solid red;
    transition: all 5s ease-in-out;
    -webkit-transition: all 1s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 1s ease-in-out; /** Firefox **/
    -o-transition: all 1s ease-in-out;
}

.point {
    transition: 1s;
}

.linesvg {
    transition: 5s;
    transition-duration: 2s;
}

